# For running sauce-based configs.
test --test_env=SAUCE_USERNAME
test --test_env=SAUCE_ACCESS_KEY
test --test_env=TUNNEL_IDENTIFIER
test --test_env=BUILD_TAG
test --local_test_jobs=5
test --test_tag_filters=-noci,-sauce,-external,-native
build --build_tag_filters=-noci,-sauce,-external,-native

# Do not build runfile forests by default. If an execution strategy relies on runfile
# forests, the forest is created on-demand. See: https://github.com/bazelbuild/bazel/issues/6627
# and https://github.com/bazelbuild/bazel/commit/03246077f948f2790a83520e7dccc2625650e6df
# Note: This also works around an issue where Bazel does not support spaces in runfiles. The
# Chromium app files for Darwin contain files with spaces and this would break. For darwin though,
# the sandbox strategy is used anyway and runfile forests are not needed.
# Related Bazel bug: https://github.com/bazelbuild/bazel/issues/4327.
build --nobuild_runfile_links

# Fail if a glob doesn't match anything (https://github.com/bazelbuild/bazel/issues/8195)
build --incompatible_disallow_empty_glob
