common:ci --color=no
common:ci --keep_going
build:ci --verbose_failures
test:ci --test_output=errors
test:ci --test_env=SAUCE_USERNAME
test:ci --test_env=SAUCE_ACCESS_KEY
test:ci --test_env=TUNNEL_IDENTIFIER
test:ci --test_env=BUILD_TAG
test:ci --test_env=TRAVIS_JOB_NUMBER
test:ci --test_tag_filters=-noci,sauce
test:ci --progress_report_interval=3600
